/* -- Fontes Do Site --------------------------------- */

    /* Link da fonte Gluten */
    @import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Gluten:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif+Myanmar:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

    /* Link da fonte Fredoka*/
    @import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Gluten:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif+Myanmar:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* -- Fim Fontes ------------------------------------- */

* {
    /* Tirando as estilizações padrão do navegador */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -- Paleta de Cores -------------------------------- */
    :root {
        --primaria-amarelo: #FFC300;
        --secundaria-rosa: #E74880;
        --terciaria-azul: #0F75BC;
        --titulo-gluten: "Gluten", cursive;
        --paragrafo-fredoka: "Fredoka", sans-serif;
    }
/* -- Fim Paleta ------------------------------------- */


/* -- Gerais ----------------------------------------- */
body {
    font-family: var(--paragrafo-fredoka);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#cadastro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),url(../assets/imgs/auth-cadastro-background.jpeg);
}

#login {
    background-image:  url(../assets/imgs/auth-login-background.svg);
}
/* -- Fim Gerais ------------------------------------- */

/* -- HEADER ------------------------------------------------------ */

header {
    display: flex;
    padding: 2%;
    position: fixed;
    width: 100vw;
    z-index: 10;
}

header button {
    width: 5vh;
    height: 5vh;
    background-color: white;
    border: 3px solid black;
    font-size: 30px;
    transition: all ease-in-out 0.3s;
}

header button:hover {
    transform: scale(0.9);
    color: white;
    background-color: black;
}
/* -- FIM HEADER -------------------------------------------------- */

/* -- MAIN -------------------------------------------------------- */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width: 50vw;
    height: 65vh;
    padding: 5%;
}

main h1 {
    font-family: var(--titulo-gluten);
    color: var(--primaria-amarelo);
    text-transform: uppercase;
}

.box-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.campos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.campos div {
    color: white;
    display: flex;
    flex-direction: column;
}

.campos .black {
    color: black;
}

.campos div input {
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 17vw;
    height: 4vh;
}

.box-buttons {
    display: flex;
    flex-direction: column;
    gap: 30%;
}

.box-buttons .principal-cad {
    font-size: 20px;
    font-family: var(--titulo-gluten);
    text-transform: uppercase;
    width: 18vw;
    height: 7vh;
    border: 2px solid white;
    color: white;
    background-color: transparent;
}

.box-buttons .secundario-cad {
    font-size: 20px;
    font-family: var(--titulo-gluten);
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border: none;
}

.box-buttons .principal-login {
    font-size: 20px;
    font-family: var(--titulo-gluten);
    text-transform: uppercase;
    width: 13vw;
    height: 7vh;
    border: 2px solid black;
    color: black;
    background-color: white;
}

.box-buttons .secundario-login {
    font-size: 20px;
    font-family: var(--titulo-gluten);
    text-transform: uppercase;
    color: black;
    background-color: transparent;
    border: none;
}

#titulo-login {
    color: #f10055;
}

/* -- FIM MAIN ---------------------------------------------------- */

/* -- STYLES Aquatech --------------------------------------------- */
.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}

/* -- FIM STYLES Aquatech --------------------------------------------- */