.voltar a {
    position: fixed;
    top: 40px;
    left: 40px;
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    background-color: white;
    border: 3px solid black;
    font-size: 30px;
    transition: all ease-in-out 0.3s;
}

.voltar a:hover {
    transform: scale(0.9);
    color: white;
    background-color: black;
}





/* Estilização do Início */
main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg-color {
    background-color: var(--primaria-amarelo);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;    
    width: 60vw;
    height: 60vh;
}

.container-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    width: 20vw;
    height: 9vh;
}

.titulo {
    text-transform: uppercase;
    font-size: 36px;
    font-family: var(--titulo-gluten);
}

.container-content {
    background-color: white;
    width: 100%;
    height: 86%;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 5%;
}

.imagem {
    background-image: url(../assets/imgs/quiz-bg-principal.svg);
    background-position: -160px center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 350px;
    align-self: center;
}

.content-textos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 55%;
    width: 55%;
    height: 100%;
}

#botao {
    background-color: white;
    width: 15vw;
    height: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    color: black;
    font-family: var(--titulo-gluten);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    transition: all ease-in-out 0.3s;
}

#botao:hover {
    background-color: black;
    color: white;
    transform: scale(0.9);
}

#botao:active {
    transform: scale(1);
}

.content-textos-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35%;
}





/* Estilização das perguntas */
.container-p-titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
}

.container-p-titulo .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    text-transform: none;
}

.container-p-titulo .numero_quest {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    background-color: black;
    color: white;
    font-family: var(--titulo-gluten);
}

.alternativas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 10vh;
    border: 4px solid black;
    color: black;
    font-family: var(--titulo-gluten);
    font-size: 20px;
    transition: all ease-in-out 0.3s;
}

.alternativas:hover {
    border-left: 25px solid black;
    transform: scale(0.95);
}

.botoes_alternativas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20%;
}

.container-alt {
    gap: 10%;
}

.content-alt {
    background-color: var(--primaria-amarelo);
    height: 70%;
}





/* Estilização dos resultados */
.container-resultados {
    width: 75%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-gif {
    background-image: url(../assets/imgs/quiz-resultados-bg-gif.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 550px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gif {
    width: 85%;
    height: 85%;
    border: 4px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.url-imagem-positivo {
    background-image: url(../assets/imgs/quiz-results-max.gif);
}

.url-imagem-comum {
    background-image: url(../assets/imgs/quiz-results-comum.gif);
}

.url-imagem-negativo {
    background-image: url(../assets/imgs/quiz-results-zerado.gif);
}

.url-imagem-connie {
    background-image: url(../assets/imgs/quiz-connie.gif);
}

.url-imagem-steven {
    background-image: url(../assets/imgs/quiz-steven.gif);
}

.url-imagem-perola {
    background-image: url(../assets/imgs/quiz-perola.gif);
}

.url-imagem-lapis {
    background-image: url(../assets/imgs/quiz-lapis.gif);
}

.url-imagem-peridot {
    background-image: url(../assets/imgs/quiz-peridot.gif);
}

.url-imagem-ametista {
    background-image: url(../assets/imgs/quiz-ametista.gif);
}

.url-imagem-garnet {
    background-image: url(../assets/imgs/quiz-garnet.gif);
}

.content-resultados {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    max-width: 40vw;
    height: 100%;
}

.resultados-titulo {
    font-family: var(--titulo-gluten);
    font-size: 36px;
}

.resultados-titulo span {
    color: var(--secundaria-rosa-forte);
}

.resultados-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    height: 70%;
    width: 100%;
}

.card-erros {
    background-color: black;
    color: white;
}

.card-acertos {
    background-color: white;
    border: 3px solid black;
}

.card {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
}

.card p {
    padding: 0px 5% 20% 5%;
}

.card h3 {
    font-family: var(--titulo-gluten);
    text-transform: uppercase;
}

.card-erros h3 {
    color: rgb(255, 12, 73);
}

.resultados-imagem {
    width: 155px;
    height: 155px;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-erros .resultados-imagem {
    background-color: rgb(255, 12, 73);
    background-image: url(../assets/imgs/quiz-resultados-id_erros.svg);
    background-position: center top 15px;
}

.card-acertos .resultados-imagem {
    background-color: rgb(24, 223, 180);
    background-image: url(../assets/imgs/quiz-resultados-id_acertos.png);
}

.card-central {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 40%;
}

.resultados {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 115px;
    font-size: 65px;
    font-family: var(--titulo-gluten);
    font-weight: 700;
}

#id_acertos {
    background-color: rgb(24, 223, 180);
    color: white;
    align-self: flex-end;
}

#id_erros {
    background-color: rgb(255, 12, 73);
    color: black;
    align-self: flex-start;
}

#id_porcentagem {
    font-size: 65px;
    font-family: var(--titulo-gluten);
    font-weight: 700;
}

.resultado-positivo {
    color: rgb(24, 223, 180);
}

.resultado-negativo {
    color: rgb(255, 12, 73);
}

.resultado-comum {
    color: rgb(103, 103, 110);
}

.btn-continuar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    width: 12vw;
    height: 5vh;
    font-family: var(--titulo-gluten);
    font-size: 20px;
    position: fixed;
    top: 85%;
    left: 75.5%;
    font-weight: 700;
    transition: all ease-in-out 0.3s;
    color: black;
    text-decoration: none;
}

.btn-continuar:hover {
    background-color: black;
    color: white;
    transform: scale(0.9);
}

.classe-destaque {
    width: 130px;
    height: 145px;
    font-size: 80px;
    font-family: var(--titulo-gluten);
    font-weight: 700;
}





/* Estilização dos resultados do quiz de personalidade */


.content-texto-personalidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: var(--titulo-gluten);
    max-width: 25%;
    text-align: center;
}

.content-texto-personalidade h3 {
    max-width: 80%;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
}

.content-texto-personalidade h1 {
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 5%;
}

.content-texto-personalidade p {
    font-size: 24px;
    font-family: var(--paragrafo-fredoka);
    padding: 15% 0px;
}

.content-resultados-personalidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 95%;
    color: white;
    background-color: var(--secundaria-rosa);
    transition: all ease-in-out 0.3s;
}

.content-resultados-personalidade:hover {
    transform: scale(1.05);
}

.content-resultados-personalidade button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 13%;
    border: 5px solid black;
    background-color: white;
    font-family: var(--titulo-gluten);
    text-transform: uppercase;
    font-size: 24px;
    transition: all ease-in-out 0.3s;
}

.content-resultados-personalidade button:hover {
    background-color: black;
    color: white;
}

.imagem-personagem {
    display: flex;
    flex-direction: column;
    background-position: baseline;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 55%;
}

.garnet {
    background-image: url(./../assets/imgs/quiz-personalidade-garnet.svg);
}
.steven {
    background-image: url(./../assets/imgs/quiz-personalidade-steven.svg);
}
.connie {
    background-image: url(./../assets/imgs/quiz-personalidade-connie.svg);
}
.perola {
    background-image: url(./../assets/imgs/quiz-personalidade-perola.svg);
}
.peridot {
    background-image: url(./../assets/imgs/quiz-personalidade-peridot.svg);
}
.lapis {
    background-image: url(./../assets/imgs/quiz-personalidade-lapis.svg);
}
.ametista {
    background-image: url(./../assets/imgs/quiz-personalidade-ametista.svg);
}

.cor-garnet {
    background-color: var(--secundaria-rosa);
}
.cor-steven {
    background-color: var(--secundaria-rosa);
}
.cor-connie {
    background-color: white;
    border: 4px solid black;
    color: black;
}
.cor-perola {
    background-color: rgb(26, 113, 172);
}
.cor-peridot {
    background-color: rgb(31, 194, 140);
}
.cor-lapis {
     background-color: var(--terciaria-azul);
}
.cor-ametista {
    background-color: rgb(95, 37, 170);
}

.atributo-imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 97%;
}

.resultado-personalidade {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-top: 13%;
}

.atributos {
    display: flex;
    flex-direction: column;
    gap: 20%;
}

.atributos h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-family: var(--titulo-gluten);
}

.atributos h4 {
    font-size: 24px;
    font-family: var(--titulo-gluten);
}

.right {
    align-items: end;
}