/* -- Fontes Do Site --------------------------------- */

/* Link da fonte Gluten */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Gluten:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif+Myanmar:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Link da fonte Fredoka*/
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Gluten:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif+Myanmar:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* -- Fim Fontes ------------------------------------- */

* {
    /* Tirando as estilizações padrão do navegador */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -- Paleta de Cores -------------------------------- */
:root {
    --primaria-amarelo: #FFC300;
    --secundaria-rosa: #E74880;
    --terciaria-azul: #0F75BC;
    --titulo-gluten: "Gluten", cursive;
    --paragrafo-fredoka: "Fredoka", sans-serif;
}

/* -- Fim Paleta ------------------------------------- */


/* -- Gerais ----------------------------------------- */
body {
    font-family: var(--paragrafo-fredoka);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FF1366;
}
/* -- Fim Gerais ------------------------------------- */

/* -- HEADER ------------------------------------------------------ */

header {
    display: flex;
    padding: 2%;
    position: fixed;
    width: 100vw;
    z-index: 10;
}

header a {
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    background-color: white;
    border: 3px solid black;
    font-size: 30px;
    transition: all ease-in-out 0.3s;
}

header a:hover {
    transform: scale(0.9);
    color: white;
    background-color: black;
}

/* -- FIM HEADER -------------------------------------------------- */


/* -- MAIN -------------------------------------------------------- */
main {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.quadrado {
    background-color: white;
    border: 5px solid black;
}

.extremo {
    width: 12vw;
    height: 60vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    padding-top: 7.5%;
    width: 60vw;
    height: 100vh;
}

.container > p {
    text-align: center;
    font-family: var(--paragrafo-fredoka);
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-top: 5%;
}

.container > p > span {
    color: var(--primaria-amarelo);
    font-weight: 600;
}

.container-sorteador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    width: 60vw;
    height: 70vh;
}

.titulo-simulador {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: baseline;
    justify-self: baseline;
    background-color: black;
    color: white;
    width: 25vw;
    height: 6vh;
    border: 5px solid white;
    font-family: var(--titulo-gluten);
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 20px;
    position: fixed;
    top: 5%;
}

.content-simulador-descricao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10%;
}

.content-simulador-descricao > h2 {
    font-family: var(--titulo-gluten);
    font-size: 34px;
    text-transform: uppercase;
}

.content-simulador-descricao > p {
    font-size: 22px;
}

.content-simulador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.content-simulador > .musica {
    width: 35vw;
    height: 39.4vh;
    background-color: rgb(216, 225, 233);
}

.botao-personagens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15.5vw;
    height: 39.4vh;
}

.botao-personagens > button {
    width: 12vw;
    height: 5vh;
    color: var(--terciaria-azul);
    border: 3px solid var(--terciaria-azul);
    background-color: transparent;
    font-family: var(--titulo-gluten);
    text-transform: uppercase;
    font-size: 20px;
    transition: all ease-in-out 0.3s;
}

.botao-personagens > button:hover {
    color: white;
    background-color: var(--terciaria-azul);
    transform: scale(1.1);
}

.botao-personagens > .personagens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 27vh;
}

.botao-personagens > .personagens > h3{
    font-family: var(--titulo-gluten);
    font-size: 30px;
    color: var(--terciaria-azul);
}

.botao-personagens > .personagens > .imagem-personagens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 16vw;
}

.botao-personagens > .personagens > .imagem-personagens > img {
    transition: all ease-in-out 0.3s;
}

.botao-personagens > .personagens > .imagem-personagens > img:hover {
    transform: scale(1.1);
    filter: brightness(100%);
    filter: drop-shadow(0 0 2px black) drop-shadow(0 0 2px black);
    -webkit-filter: drop-shadow(-3px 0px 1px rgb(160, 160, 160)) drop-shadow(-3px 0px 1px rgb(160, 160, 160));
}
/* -- FIM MAIN ---------------------------------------------------- */