/* -- Gerais ----------------------------------------- */
body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FF1366;
}
/* -- Fim Gerais ------------------------------------- */

/* -- HEADER ------------------------------------------------------ */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3%;
    font-family: var(--titulo-gluten);
    border-bottom: 2px solid black;
    background-color: white;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 9vh;
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 30vw;
}

.logo > #img-logo {
    width: 40px;
    height: 40px;
    background-image: url(../assets/imgs/logo-amarela.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease-in-out 0.3s;
}

.logo > #img-logo:hover {
    transform: rotate(20deg) scale(1.1);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

.nav > nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav > nav > span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    border: 2px solid black;
    border-bottom: none;
    border-top: none;
    cursor: none;
}

.nav > nav > a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    width: 180px;
    height: 9vh;
    transition: all ease-in-out 0.3s;
}

#select {
    font-size: 14px;
    font-weight: 600;
}

.nav > nav > a:hover {
    color: var(--terciaria-azul);
    transform: scale(1.1);
}

.nav > nav > .border-none {
    border-right: none;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30vw;
    gap: 30px;
}

.botoes > a {
    color: black;
    font-size: 12px;
    font-family: var(--titulo-gluten);
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
    padding: 1% 6%;
    border: 2px solid black;
    transition: all ease-in-out 0.3s;
}

.botoes > a:hover {
    transform: scale(0.95);
    background-color: black;
    color: white;
}

.botoes > a:active {
    transform: scale(0.9);
    background-color: white;
    color: black;
}
/* -- FIM HEADER -------------------------------------------------- */


/* -- MAIN -------------------------------------------------------- */
main {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.quadrado {
    background-color: white;
    border: 5px solid black;
}

.extremo {
    width: 12vw;
    height: 60vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    padding-top: 7.5%;
    width: 60vw;
    height: 100vh;
}

.container>p {
    text-align: center;
    font-family: var(--paragrafo-fredoka);
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-top: 5%;
}

.container>p>span {
    color: var(--primaria-amarelo);
    font-weight: 600;
}

.container-sorteador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    width: 60vw;
    height: 70vh;
}

.titulo-simulador {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: baseline;
    justify-self: baseline;
    background-color: black;
    color: white;
    width: 25vw;
    height: 6vh;
    border: 5px solid white;
    font-family: var(--titulo-gluten);
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 20px;
    position: fixed;
    top: 15%;
}

.content-simulador {
    transition: all ease-in-out 0.3s;
    transform: scale(1);
}

.mover-esquerda {
    transform: translateX(-50px);
}

.content-simulador-descricao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10%;
}

.content-simulador-descricao>h2 {
    font-family: var(--titulo-gluten);
    font-size: 34px;
    text-transform: uppercase;
}

.content-simulador-descricao>p {
    font-size: 22px;
}

.content-simulador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.content-simulador>.musica {
    width: 35vw;
    height: 39.4vh;
    background-color: rgb(216, 225, 233);
}

.botao-personagens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15.5vw;
    height: 39.4vh;
}

.botao-personagens>button {
    width: 12vw;
    height: 5vh;
    color: var(--terciaria-azul);
    border: 3px solid var(--terciaria-azul);
    background-color: transparent;
    font-family: var(--titulo-gluten);
    text-transform: uppercase;
    font-size: 20px;
    transition: all ease-in-out 0.3s;
}

.botao-personagens>button:hover {
    color: white;
    background-color: var(--terciaria-azul);
    transform: scale(1.1);
}

.botao-personagens>.personagens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 40vh;
    gap: 10%;
}

.botao-personagens>.personagens>h3 {
    font-family: var(--titulo-gluten);
    font-size: 30px;
    color: var(--terciaria-azul);
}

.botao-personagens>.personagens>.imagem-personagens>img {
    transition: all ease-in-out 0.3s;
}

.botao-personagens>.personagens>.imagem-personagens>img:hover {
    transform: scale(1.1);
    filter: brightness(100%);
    filter: drop-shadow(0 0 2px black) drop-shadow(0 0 2px black);
    -webkit-filter: drop-shadow(-3px 0px 1px rgb(160, 160, 160)) drop-shadow(-3px 0px 1px rgb(160, 160, 160));
}

/* -- FIM MAIN ---------------------------------------------------- */